services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - eventity-app
      - pgadmin
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost/status"]
      interval: 30s
      timeout: 10s
      retries: 3

  eventity-app:
    build:
      context: .
      dockerfile: Dockerfile.app
    environment:
      - ConnectionStrings__DataBaseConnect=User ID=postgres;Password=postgres;Host=postgres;Database=Eventity;Port=5432
      - ASPNETCORE_URLS=http://*:5001
    expose:
      - "5001"
    depends_on:
      - postgres
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: Eventity
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@eventity.com
      PGADMIN_DEFAULT_PASSWORD: admin
    expose:
      - "80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data: