services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      eventity-app:
        condition: service_healthy
      adminer:
        condition: service_started
    restart: always
    environment:
      - NGINX_HOST=localhost
      - NGINX_PORT=80

  eventity-app:
    build:
      context: .
      dockerfile: Dockerfile.app.prod
    environment:
      - ConnectionStrings__DataBaseConnect=User ID=postgres;Password=postgres;Host=postgres;Database=Eventity;Port=5432
      - ASPNETCORE_URLS=http://*:5001
    expose:
      - "5001"
    depends_on:
      - postgres
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5001/api/v1/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: Eventity
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./scripts:/docker-entrypoint-initdb.d

  adminer:
    image: adminer:4.8.1
    environment:
      ADMINER_DEFAULT_SERVER: postgres
      ADMINER_DESIGN: dracula
    expose:
      - "8080"
    depends_on:
      - postgres

volumes:
  postgres_data: